<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>797472639847-shie0v53p7fk7fdbd8h3qftes7jqbfal.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.797472639847-shie0v53p7fk7fdbd8h3qftes7jqbfal</string>
	<key>API_KEY</key>
	<string>AIzaSyBCHRvaWCzdOE97EISWbToL_uS1t-sWeQ8</string>
	<key>GCM_SENDER_ID</key>
	<string>797472639847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dunamikos.studio.mugger</string>
	<key>PROJECT_ID</key>
	<string>mugger-tools</string>
	<key>STORAGE_BUCKET</key>
	<string>mugger-tools.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:797472639847:ios:a2f1473067f36dc4</string>
	<key>DATABASE_URL</key>
	<string>https://mugger-tools.firebaseio.com</string>
</dict>
</plist>