.card-background-page {

    .card-content{
      padding:0px !important;
      margin-top: 1em;
    }

    ion-card {
      position: relative;
      text-align: center;
    }
  
    .card-image{
        position: relative;
        background-color:#000;

    }
    .image{
        opacity: 0.4;
    }
    .card-title {
      position: absolute ;
      top:35%;
      font-size: 3.0em;
      width: 100%;
      font-weight: bold;
      color: rgb(255, 255, 255);
    }
  
    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 55%;
      width: 100%;
      color: rgb(255, 255, 255);
    }
  
  }
